/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2018, 5:49:24 PM
    Author     : BIF_User2
*/

#contestTable {
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.contestImageInput {
    width: 20px;
}

.test {
    background-color: red;
}

