/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2018, 5:49:24 PM
    Author     : BIF_User2
*/

#contestTable {
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.contestImageInput {
    width: 20px;
}

.test {
    background-color: red;
}


.locationList {
    border: 1px solid #999;
    padding-left: 0;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 100%;
    
    display: none;
}

.locationList li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
    padding: 5px;
}

.locationList li:hover {
    background-color: #EBECE9;
}

a {
    cursor: pointer;
}

.contestTable {
    width: 0%;
    table-layout: fixed;
}

.contestTable .col_1 {
    width: 40px;
    overflow: hidden;
}

.contestTable .col_2,
.contestTable .col_3,
.contestTable .col_4,
.contestTable .col_5,
.contestTable .col_6,
.contestTable .col_7,
.contestTable .col_8,
.contestTable .col_9,
.contestTable .col_10,
.contestTable .col_11
{
    width: 120px;
}

.contestTable .col_12 {
    width: 35px;
}

.inRatingButton {
    width:20px;
}

.inRatingButton, .inRatingButton:active {
    outline: 0;
    outline-offset: 0;
}

.contestTable .col_2 {
    /* width: 250px !important; */
}

.contestTable input[type="text"], .contestTable select {
    width: 100px;
}




.dropDownContainer input {
    width: 85px !important;
}

.dropDownContainer button {
    margin-left: -5px;
}

.dropDownContainer ul {
    border: 1px solid #999;
    padding-left: 0;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 250px;
}

.dropDownContainer li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
    padding: 5px;
}

.dropDownContainer li:hover {
    background-color: #EBECE9;
}



.not_in_rating {
    color: gray;
}